{% extends 'main.html' %}
{% load static %}
{% block content %}

<body>

<div class="search-section">
    <a class="close-search" href="#"></a>
    <div class="d-flex justify-content-center align-items-center h-100">
        <form method="post" action="#" class="w-50">
            <div class="row">
                <div class="col-10">
                    <input type="search" value="" class="form-control palce bg-transparent border-0 search-input" placeholder="Search Here ..." /> 
                </div>
                <div class="col-2 mt-3">
                     <button type="submit" class="btn bg-transparent text-white"> <i class="fas fa-search"></i> </button>
                </div>
            </div>
        </form>
    </div>
         
</div>
    
<!-- Loading Screen -->
<div id="ju-loading-screen">
  <div class="sk-double-bounce">
    <div class="sk-child sk-double-bounce1"></div>
    <div class="sk-child sk-double-bounce2"></div>
  </div>
</div>
    
<!-- Start Top Header -->
<div class="fables-forth-background-color fables-top-header-signin">
    <div class="container">
        <div class="row" id="top-row">
            <div class="col-12 col-sm-5 col-lg-4 text-right">
                <p class="fables-third-text-color font-13"><span class="fables-iconphone"></span> Phone :  (+254) 746 471 338</p>
            </div>
            <div class="col-12 col-sm-5 col-lg-3 text-right">
                <p class="fables-third-text-color font-13"><span class="fables-iconemail"></span> Email: 203jmw@gmail.com</p>
            </div>
            
        </div>
    </div>
</div>
 
<!-- /End Top Header -->

<!-- Start Fables Navigation -->
<div class="fables-navigation fables-main-background-color py-3 py-lg-0">
    <div class="container">
               <div class="row">
                   <div class="col-12 col-md-10 col-lg-9 pr-md-0">                       
                       <nav class="navbar navbar-expand-md btco-hover-menu py-lg-2">
         
                            <a class="navbar-brand pl-0" href="index.html"><img src="{% static 'usa/assets/custom/images/logo3.png' %}" class="#"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fablesNavDropdown" aria-controls="fablesNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fables-iconmenu-icon text-white font-16"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="fablesNavDropdown"> 

                                <ul class="navbar-nav mx-auto fables-nav">   
                                    <li class="active">
                                        <a class="nav-link" href="home.html">
                                            Home
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about.html">
                                            About Us
                                        </a>
                                    <li class="nav-item">
                                        <a class="nav-link" href="testimonials.html">
                                            Testmonials
                                        </a>
                                    <li class="nav-item">
                                        <a class="nav-link" href="contact.html">
                                            Contact Us
                                        </a>
                                    </li>  
                                </ul> 
                        </nav>
                    </div>
                
                </div>
    </div>
</div>
                   
<!-- Start Header -->
<div class="fables-header bg-white index-3-height bg-rules overflow-hidden">
    <div class="container position-relative z-index">   
         <div class="row">
             <div class="col-12 col-lg-7 offset-lg-4 wow fadeInUpBig" data-wow-duration="2s">
                  <div class="index-3-height-caption">
                  <p class="font-30 fables-second-text-color"></p>
                  <h1 class="fables-main-text-color bold-font mb-2 font-40">We are Ready To Link You Up with Your Dream University Abroad</h1>  
                  <a href="contact.html" class="btn fables-second-background-color fables-second-border-color white-color rounded-0 mr-4 px-4 py-2 white-color-hover">Contact us</a>  
              </div> 
             </div>
         </div> 
    </div>
</div>  
<!-- /End Header -->

<!-- Start Service -->
<div class="container-fluid my-0 my-lg-5">
          <div class="row">
              <div class="col-12 col-lg-2 p-0">
                   <div class="text-center fables-main-background-color fables-sqr-rotation fables-second-border-color fables-sqr-rotation-services">
                      <div class="text-rotate">
                           <h2 class="text-white font-25"><br><span class="white-color font-40 bold-font mt-2 d-block">Our Services</span></h2>
                           <p class="fables-third-text-color mt-4 mb-3 mb-lg-5">
                              
                           </p>
                      </div>
                   </div>
              </div>
              <div class="col-12 col-lg-10 p-0">
                  <div class="fables-index-services fables-after-overlay py-md-5 px-3 pr-md-4 pl-md-5 bg-rules sm-index-products mt-lg-0 mt-xl-5">
                       <div class="container z-index position-relative">  
                           <div class="row">
                               <div class="col-12 col-lg-10 offset-lg-2">  
                                    <div class="row">
                                        <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown" data-wow-delay=".4s"> 
                                            <div class="row text-center text-md-left">
                                                <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0"> 
                                                    <span class="fables-iconhead-set-light fables-second-text-color font-40"></span>
                                                </div>
                                                <div class="col-12 col-md-9 pl-md-0">
                                                    <h2 class="text-white font-19 semi-font mb-2">Free Updates & Support</h2>
                                                    <div class="font-14 text-white">
                                                        We are ready to help you in any way at any time.  
                                                    </div>

                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown" data-wow-delay=".8s"> 
                                            <div class="row text-center text-md-left">
                                                <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                    <span class="fables-iconscreen fables-second-text-color font-40"></span>
                                                </div>
                                                <div class="col-12 col-md-9 pl-md-0">
                                                   <h2 class="text-white font-19 semi-font mb-2">Providing Updates on Scholarship Positions</h2>
                                                   <div class="font-14 text-white">
                                                        We inform and link you up with available scholarships.  
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown" data-wow-delay="1.2s"> 
                                            <div class="row text-center text-md-left">
                                                <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                    <span class="fables-iconfile fables-second-text-color font-40"></span>
                                                </div>
                                                <div class="col-12 col-md-9 pl-md-0">
                                                   <h2 class="text-white font-19 semi-font mb-2">Guiding on the application process</h2>
                                                    <div class="font-14 text-white">
                                                        We guide you through the application process.   
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="col-12 col-sm-6 pb-lg-5 mt-4 mt-lg-0 wow fadeInDown" data-wow-delay="1.6s"> 
                                            <div class="row text-center text-md-left">
                                                <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0">
                                                    <span class="fables-iconhead-set-light fables-second-text-color font-40"></span>
                                                </div>
                                                <div class="col-12 col-md-9 pl-md-0">
                                                    <h2 class="text-white font-19 semi-font mb-2">Guiding on how to get finances</h2>
                                                    <div class="font-14 text-white">
                                                        We help you get your school funds with ease.  
                                                    </div>

                                                </div>
                                            </div> 
                                        </div> 
                                    </div> 
                               </div>
                           </div>
                       </div>
                  </div> 
              </div>
          </div>
      </div>
<!-- End Service -->

<!-- Start why choose us --> 
<div class="container-fluid">
   <div class="row mt-3 mt-md-5">
       <div class="col-12 col-lg-5 offset-lg-1 mb-4 mb-lg-0 overflow-hidden"> 
           <h2 class="fables-second-text-color font-35 bold-font wow fadeInLeft"> WHY  <span class="fables-main-text-color">CHOOSE US</span></h2>
           <p class="fables-forth-text-color my-3 wow fadeInLeft">
               At School Abroad, we understand that choosing to study abroad is a significant decision in your academic journey. It's a decision that can transform your life and open up a world of opportunities. That's why we're here to guide you every step of the way. With years of experience, a passion for education, and a commitment to excellence, we are your trusted partner in realizing your dreams of studying abroad. 
           </p>  
           <div class="position-relative mb-3 wow bounceInDown"> 
               <p class="fables-fifth-text-color">
                    <span class="fables-iconDiagonal-arrow"></span>
                       Our team consists of seasoned professionals who have in-depth knowledge of the global education landscape.
               </p>
           </div>
           <div class="position-relative mb-3 wow bounceInDown">
               <p class="fables-fifth-text-color">
                    <span class="fables-iconDiagonal-arrow"></span>
                       We understand that every student is unique.
               </p>
           </div>
           <div class="position-relative mb-3 wow bounceInDown">
               <p class="fables-fifth-text-color">
                    <span class="fables-iconDiagonal-arrow"></span>
                       Our dedicated visa assistance team will guide you through the paperwork, ensuring that you have all the necessary documents and meet the requirements to obtain your student visa hassle-free.
               </p>
           </div>
           <div class="position-relative mb-3 wow bounceInDown">
               <p class="fables-fifth-text-color">
                    <span class="fables-iconDiagonal-arrow"></span>
                       After you've arrived at your destination, we continue to be your point of contact. 
               </p>
           </div>
            <a href="about.html" class="btn fables-second-background-color white-color white-color-hover py-2 px-4 my-2 rounded-0 font-18">Learn More</a>

       </div>
       <div class="col-12 col-lg-5 offset-lg-1 p-0 text-right mb-lg-5">  
            <div class="position-relative">
                 <img src="{% static 'usa/assets/custom/images/choose-us-index.jpg' %}" alt="" class="w-100">  
            </div>
       </div>
</div>
</div>
<!-- End why choose us -->

<!-- Start Table Pricing --> 
 <div class="container">
     <h2 class="fables-main-text-color font-35 font-weight-bold text-center mt-4 mt-lg-5">Select <span class="fables-second-text-color">Your Level of Study</span> Now </h2>
     <p class="fables-forth-text-color text-center mb-4 mb-lg-5"></p>
     <div class="row overflow-hidden"> 
       <div class="col-12 col-sm-6 col-lg-3 text-center mb-4 wow bounceInDown" data-wow-delay=".4s">
           <div class="table-border-light fables-second-hover-border">
              <div class="bg-wisteria py-4 position-relative">
                  <h2 class="white-color bold-font fables-third-after font-20 pt-4 pb-6">Undergraduate</h2>  
                  <div class="center-number-table border-2 bg-wisteria white-color rounded-circle border-white position-absolute p-4">
                      <h2 class="bold-font font-35 mt-2 d-inline-block">KSHs 3000 <span class="table-badge white-color position-absolute font-13"></span></h2>
                      <p class="white-color font-13"></p> 
                  </div>
              </div> 
              <div class="bg-white py-4 table-block">
                  <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                   Paybill: 522522
                   Account:1310569932
                  </p>
                  <a href="contact.html" class="btn bg-wisteria white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Get Started</a>
              </div>
           </div>

       </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow bounceInDown" data-wow-delay=".8s">
           <div class="table-border-light fables-second-hover-border">
              <div class="bg-dark-blue py-4 position-relative">
                  <h2 class="white-color bold-font fables-third-after font-20 pt-4 pb-6">Graduate</h2>  
                  <div class="center-number-table border-2 bg-dark-blue white-color rounded-circle border-white position-absolute p-4">
                      <h2 class="bold-font font-35 mt-2 d-inline-block">KSHs 3000 <span class="table-badge white-color position-absolute font-13"></span></h2>
                      <p class="white-color font-13"></p> 
                  </div>
              </div> 
              <div class="b-dark-blue py-4 table-block">
                  <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                   Paybill: 522522
                   Account:1310569932
                  </p>
                  <a href="#" class="btn bg-dark-blue white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Get Started</a>
              </div>
           </div>

       </div>
       <!--pricing--
        <div class="col-12 col-sm-6 mb-4 col-lg-3 text-center wow bounceInDown" data-wow-delay="1.2s">
           <div class="table-border-light fables-second-hover-border">
              <div class="fables-main-background-color py-4 position-relative">
                  <h2 class="white-color bold-font fables-third-after font-20 pt-4 pb-6">Team Plan</h2>  
                  <div class="center-number-table border-2 fables-main-background-color white-color rounded-circle border-white position-absolute p-4">
                      <h2 class="bold-font font-35 mt-2 d-inline-block"> 300 <span class="table-badge white-color position-absolute font-13">$</span></h2>
                      <p class="white-color font-13">Per month</p> 
                  </div>
              </div> 
              <div class="bg-white py-4 table-block">
                  <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                   Wordpress ThemeFree 
                    Theme InstallationFree 
                    24/7 SupportFree
                  </p>
                  <a href="#" class="btn fables-main-background-color white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Get Started</a>
              </div>
           </div>

       </div>
   -->
        <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow bounceInDown" data-wow-delay="1.6s">
           <div class="table-border-light fables-second-hover-border">
              <div class="fables-second-background-color py-4 position-relative">
                  <h2 class="white-color bold-font fables-third-after font-20 pt-4 pb-6">Post Graduate</h2>  
                  <div class="center-number-table border-2 fables-second-background-color white-color rounded-circle border-white position-absolute p-4">
                      <h2 class="bold-font font-35 mt-2 d-inline-block">KSHs 3000 <span class="table-badge white-color position-absolute font-13"></span></h2>
                      <p class="white-color font-13"></p> 
                  </div>
              </div> 
              <div class="bg-white py-4 table-block">
                  <p class="fables-forth-text-color mt-6 mb-4 px-4 line-height-large font-15">
                   Paybill: 522522
                   Account:1310569932
                  </p>
                  <a href="contact.html" class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded px-5 py-2 font-15">Get Started</a>
              </div>
           </div>

       </div>
     </div>
 </div>
<!-- End Table Pricing -->

<!-- Start Overlay Caption -->
<div class="fables-testimonial fables-after-overlay bg-rules py-4 py-md-5 mt-lg-5" style="background-image: url(assets/custom/images/index2-overlay.jpg);">
           <div class="container">
               <div class="row">
                   <div class="col-12 col-lg-8 offset-lg-2 text-center position-relative z-index wow zoomIn" data-wow-duration="1.5s"> 
                           <h3 class="white-color mb-3 font-25 font-weight-bold">We are the best scholarship consulting company ever!!</h3>  
                           <p class="z-index font-weight-light text-white fables-third-text-color">
                               We take pride in helping people achieve their achieve their academic objectives irrespective of their age, gender, race and ethnicity.
                           </p>
                           <a href="contact.html" class="btn fables-second-background-color white-color white-color-hover fables-btn-rounded  mt-4 py-2 px-5 position-relative z-index">Contact us</a>  
                   </div> 
               </div>
               
           </div>
       </div>
<!-- Start Overlay Caption -->
   
{% endblock %}